PKG_WS_HL73/Web References/PKG_WS_HL73/PKG_WS_HL73.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://xmlns.oracle.com/orawsv/WS_RO/PKG_WS_HL73" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PKG_WS_HL73" targetNamespace="http://xmlns.oracle.com/orawsv/WS_RO/PKG_WS_HL73" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/orawsv/WS_RO/PKG_WS_HL73">
      <xsd:element name="S-ASMXInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:any />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ASMXOutput">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ASMXInputMessage">
    <part name="parameters" element="tns:S-ASMXInput" />
  </message>
  <message name="ASMXOutputMessage">
    <part name="parameters" element="tns:ASMXOutput" />
  </message>
  <portType name="PKG_WS_HL73PortType">
    <operation name="ASMX">
      <input message="tns:ASMXInputMessage" />
      <output message="tns:ASMXOutputMessage" />
    </operation>
  </portType>
  <binding name="PKG_WS_HL73Binding" type="tns:PKG_WS_HL73PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ASMX">
      <soap:operation soapAction="ASMX" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
  </binding>
  <service name="PKG_WS_HL73Service">
    <documentation>Oracle Web Service</documentation>
    <port name="PKG_WS_HL73Port" binding="tns:PKG_WS_HL73Binding">
      <soap:address location="httpS://bertoaldo.valme.net:1443/orawsv/WS_RO/PKG_WS_HL73" />
    </port>
  </service>
</definitions>