PKG_WS_CMBD/Web References/PKG_WS_UPDX_DESA/PKG_WS_UPDX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://xmlns.oracle.com/orawsv/WS_RW/PKG_WS_UPDX" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PKG_WS_UPDX" targetNamespace="http://xmlns.oracle.com/orawsv/WS_RW/PKG_WS_UPDX" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/orawsv/WS_RW/PKG_WS_UPDX">
      <xsd:element name="WS001_MODIFICA_COD_SINOInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="P_RESULTADO-XMLTYPE-OUT">
              <xsd:complexType />
            </xsd:element>
            <xsd:element name="P_QUIENERES-VARCHAR2-IN" type="xsd:string" />
            <xsd:element name="P_NADMI-NUMBER-IN" type="xsd:double" />
            <xsd:element name="P_CAMPOS-VARCHAR2-OUT">
              <xsd:complexType />
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WS001_MODIFICA_COD_SINOOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="P_RESULTADO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:any />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="P_CAMPOS" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WRITE_LOPDInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="P_RESULTADO-XMLTYPE-IN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:any />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="P_QUIENERES-VARCHAR2-IN" type="xsd:string" />
            <xsd:element name="P_INPUT-VARCHAR2-IN" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WRITE_LOPDOutput">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="START_UPInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="P_QUIENERES-VARCHAR2-IN" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="START_UPOutput">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="WS001_MODIFICA_COD_SINOInputMessage">
    <part name="parameters" element="tns:WS001_MODIFICA_COD_SINOInput" />
  </message>
  <message name="WS001_MODIFICA_COD_SINOOutputMessage">
    <part name="parameters" element="tns:WS001_MODIFICA_COD_SINOOutput" />
  </message>
  <message name="WRITE_LOPDInputMessage">
    <part name="parameters" element="tns:WRITE_LOPDInput" />
  </message>
  <message name="WRITE_LOPDOutputMessage">
    <part name="parameters" element="tns:WRITE_LOPDOutput" />
  </message>
  <message name="START_UPInputMessage">
    <part name="parameters" element="tns:START_UPInput" />
  </message>
  <message name="START_UPOutputMessage">
    <part name="parameters" element="tns:START_UPOutput" />
  </message>
  <portType name="PKG_WS_UPDXPortType">
    <operation name="WS001_MODIFICA_COD_SINO">
      <input message="tns:WS001_MODIFICA_COD_SINOInputMessage" />
      <output message="tns:WS001_MODIFICA_COD_SINOOutputMessage" />
    </operation>
    <operation name="WRITE_LOPD">
      <input message="tns:WRITE_LOPDInputMessage" />
      <output message="tns:WRITE_LOPDOutputMessage" />
    </operation>
    <operation name="START_UP">
      <input message="tns:START_UPInputMessage" />
      <output message="tns:START_UPOutputMessage" />
    </operation>
  </portType>
  <binding name="PKG_WS_UPDXBinding" type="tns:PKG_WS_UPDXPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="WS001_MODIFICA_COD_SINO">
      <soap:operation soapAction="WS001_MODIFICA_COD_SINO" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
    <operation name="WRITE_LOPD">
      <soap:operation soapAction="WRITE_LOPD" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
    <operation name="START_UP">
      <soap:operation soapAction="START_UP" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
  </binding>
  <service name="PKG_WS_UPDXService">
    <documentation>Oracle Web Service</documentation>
    <port name="PKG_WS_UPDXPort" binding="tns:PKG_WS_UPDXBinding">
      <soap:address location="http://bertoaldo.valme.net:8181/orawsv/WS_RW/PKG_WS_UPDX" />
    </port>
  </service>
</definitions>